{
  "extends": [
    "plugin:@wordpress/eslint-plugin/recommended",
    "plugin:react-hooks/recommended"
  ],
  "ignorePatterns": [
    "*.js",
    "assets/dist/**",
    "assets/src/vendors/**",
    "gulpfile.mjs",
    "*.scss"
  ],
  "globals": {
    "jQuery": "readonly"
  },
  "rules": {
    "prettier/prettier": "off",
    "react-hooks/exhaustive-deps": [
      "error",
      { "additionalHooks": "useSelect" }
    ],
    "@wordpress/dependency-group": "error",
    "@wordpress/react-no-unsafe-timeout": "error",
    "jsdoc/check-indentation": "error"
  }
}
